<article id="main">
  <header>
    <h2>Create a new bar</h2>
  <header>
  <section class="wrapper style5">
    <div class="inner">
      <section>

<%= render 'form' %>

    </section>
  </div>
</section>
</article>.
