
<article id="main">
  <header>
    <h2>Contact</h2>
    <p>Want to join the club?</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">

      <section>
      	<h4>Sign up your bar</h4>
      	<form method="post" action="#">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      		<div class="row uniform">
      			<div class="6u 12u$(xsmall)">
      				<input type="text" name="name" placeholder="Name" />
      			</div>
      			<div class="6u$ 12u$(xsmall)">
      				<input type="email" name="email" placeholder="Email" />
      			</div>
            <div class="6u 12u$(xsmall)">
              <input type="text" name="bar" placeholder="Bar" />
            </div>
            <div class="6u 12u$(xsmall)">
              <input type="text" name="phone" placeholder="Phone" />
            </div>
      			<div class="12u$">
      				<div class="select-wrapper">
      					<select multiple name="competition[]" id="multi-select">
      						<option value="">- Competitions you typically show -</option>
      						<option value="Premier League">Premier League</option>
      						<option value="La Liga">La Liga</option>
      						<option value="Bundesliga">Bundesliga</option>
      						<option value="Series A">Serie A</option>
                  <option value="Ligue 1">Ligue 1</option>
                  <option value="European Championships">European Championship</option>
                  <option value="Internationals">Internationals</option>
      					</select>
      				</div>
      			</div>
      			<div class="6u$ 12u$(small)">
      				<input type="checkbox" id="demo-human" name="demo-human" checked>
      				<label for="demo-human">Not a robot</label>
      			</div>
      			<div class="12u$">
      				<textarea name="message" placeholder="Enter your message" rows="6"></textarea>
      			</div>
      			<div class="12u$">
      				<ul class="actions">
      					<li><input type="submit" value="Send Message" class="special" /></li>
      					<li><input type="reset" value="Reset" /></li>
      				</ul>
      			</div>
      		</div>
      	</form>
      </section>

    </div>
  </section>
</article>
