.search {
  width: 80%;
  margin: 0 auto;
}

#home-cal {
  table-layout: fixed;

  th {
        color: #2E3842;
  			font-size: 0.9em;
  			font-weight: 600;
  			padding: 0 0.75em 0.75em 0.75em;
  			text-align: left;
  		}

  td:nth-child(2n+1) {background: #CCC}

  td {
    font-size: 0.8em;
  }
}

#center-text {
  text-align: center;
}
